# Noodles Consumption data set

## Importing dataset using numpy and pandas

### numpy and pandas are python libraries used for data manipulation. libraries are tools provided by a language which a programer can use to do things easily

In [5]:
import numpy as np

In [6]:
import pandas as pd

here we have imported numpy as np, so we can use numpy with alias np rather than writing full name in our code. same for pandas as pd

In [7]:
dataset = pd.read_csv("/Users/sett/Downloads/noodles.csv")

here we use pd because it is used for data handling of dataframes.and we have to give full path of file to import data

In [9]:
print(dataset)

    Country/Region     2018     2019     2020   2021     2022  Rank CCA3  \
0            China  40250.0  41450.0  46360.0  43990  45070.0     1  CHN
1        Indonesia  12540.0  12520.0  12640.0  13270  14260.0     4  IDN
2            India   6060.0   6730.0   6730.0   7560   7580.0     2  IND
3            Japan   5780.0   5630.0   5970.0   5850   5980.0    11  JPN
4      Philippines   3980.0   3850.0   4470.0   4440   4290.0    13  PHL
5      South Korea   3820.0   3900.0   4130.0   3790   3950.0    29  KOR
6         Thailand   3460.0   3570.0   3710.0   3630   3870.0    20  THA
7           Brazil   2390.0   2420.0   2720.0   2850   2830.0     7  BRA
8          Nigeria   1820.0   1920.0   2460.0   2620   2790.0     6  NGA
9           Russia   1850.0   1910.0   2000.0   2100   2200.0     9  RUS
10           Nepal   1570.0   1640.0   1540.0   1590   1650.0    49  NPL
11        Malaysia   1370.0   1450.0   1570.0   1580   1550.0    45  MYS
12          Mexico   1120.0   1170.0   1160.0   1360   1510.0    10  MEX
13          Taiwan    830.0    830.0    870.0    900    880.0    57  TWN
14    Saudi Arabia    550.0    560.0    830.0    850    870.0    41  SAU
15         Myanmar    600.0    620.0    660.0    760    770.0    26  MMR
16    South Africa    260.0    280.0    350.0    410    480.0    24  ZAF
17           Egypt    220.0    280.0    350.0    400    460.0    14  EGY
18       Australia    410.0    420.0    440.0    450    450.0    55  AUS
19      Bangladesh    310.0    370.0    370.0    430    440.0     8  BGD
20          Turkey     80.0    120.0    190.0    360    420.0    18  TUR
21        Cambodia    330.0    350.0    370.0    410    400.0    73  KHM
22         Germany    320.0    330.0    370.0    390    390.0    19  DEU
23          Poland    310.0    310.0    330.0    340    380.0    37  POL
24      Kazakhstan    170.0    250.0    280.0    320    360.0    66  KAZ
25       Guatemala    230.0    250.0    260.0    270    280.0    68  GTM
26        Pakistan    190.0    200.0    220.0    230    240.0     5  PAK
27      Uzbekistan    170.0    210.0    210.0    210    210.0    43  UZB
28          Canada    190.0    190.0    190.0    200    200.0    39  CAN
29       Sri Lanka    170.0    180.0    180.0    190    200.0    61  LKA
30            Peru    160.0    160.0    160.0    170    170.0    44  PER
31        Ethiopia     80.0     80.0    120.0    130    140.0    12  ETH
32       Singapore    130.0    130.0    160.0    140    130.0   113  SGP
33           Kenya     50.0     60.0     80.0    100    130.0    27  KEN
34          France     90.0     80.0     90.0    100    110.0    23  FRA
35     New Zealand     80.0     90.0     90.0     90    100.0   123  NZL
36           Spain     70.0     70.0     80.0     90     90.0    30  ESP
37  Czech Republic     60.0     70.0     70.0     70     70.0    88  CZE
38            Iran     50.0     50.0     60.0     60     70.0    17  IRN
39          Sweden     40.0     50.0     60.0     60     60.0    87  SWE
40     Netherlands     50.0     50.0     50.0     50     60.0    71  NLD
41           Chile     30.0     30.0     20.0     50     60.0    65  CHL
42          Serbia      NaN      NaN      NaN     50     50.0   105  SRB
43        Colombia     20.0     20.0     20.0     20     50.0    28  COL
44           Italy     20.0     20.0     30.0     40     40.0    25  ITA
45         Hungary     30.0     40.0     40.0     40     40.0    94  HUN
46         Belgium     10.0     20.0     20.0     20     20.0    81  BEL
47         Denmark     20.0     20.0     10.0     10     20.0   115  DNK
48         Finland     10.0     20.0     20.0     20     20.0   118  FIN
49     Switzerland     10.0     10.0     10.0     10     20.0   101  CHE
50       Argentina     10.0     10.0      0.0     20     10.0    33  ARG
51      Costa Rica     10.0     10.0     10.0     20     10.0   124  CRI
52         Ukraine    320.0    340.0    320.0    350      NaN    38  UKR

   Country/Territory         Capital      Continent  2022 Population
0              China         Beijing           Asia       1425887337
1          Indonesia         Jakarta           Asia        275501339
2              India       New Delhi           Asia       1417173173
3              Japan           Tokyo           Asia        123951692
4        Philippines          Manila           Asia        115559009
5        South Korea           Seoul           Asia         51815810
6           Thailand         Bangkok           Asia         71697030
7             Brazil        Brasilia  South America        215313498
8            Nigeria           Abuja         Africa        218541212
9             Russia          Moscow         Europe        144713314
10             Nepal       Kathmandu           Asia         30547580
11          Malaysia    Kuala Lumpur           Asia         33938221
12            Mexico     Mexico City  North America        127504125
13            Taiwan          Taipei           Asia         23893394
14      Saudi Arabia          Riyadh           Asia         36408820
15           Myanmar     Nay Pyi Taw           Asia         54179306
16      South Africa        Pretoria         Africa         59893885
17             Egypt           Cairo         Africa        110990103
18         Australia        Canberra        Oceania         26177413
19        Bangladesh           Dhaka           Asia        171186372
20            Turkey          Ankara           Asia         85341241
21          Cambodia      Phnom Penh           Asia         16767842
22           Germany          Berlin         Europe         83369843
23            Poland          Warsaw         Europe         39857145
24        Kazakhstan       Nursultan           Asia         19397998
25         Guatemala  Guatemala City  North America         17843908
26          Pakistan       Islamabad           Asia        235824862
27        Uzbekistan        Tashkent           Asia         34627652
28            Canada          Ottawa  North America         38454327
29         Sri Lanka         Colombo           Asia         21832143
30              Peru            Lima  South America         34049588
31          Ethiopia     Addis Ababa         Africa        123379924
32         Singapore       Singapore           Asia          5975689
33             Kenya         Nairobi         Africa         54027487
34            France           Paris         Europe         64626628
35       New Zealand      Wellington        Oceania          5185288
36             Spain          Madrid         Europe         47558630
37    Czech Republic          Prague         Europe         10493986
38              Iran          Tehran           Asia         88550570
39            Sweden       Stockholm         Europe         10549347
40       Netherlands       Amsterdam         Europe         17564014
41             Chile        Santiago  South America         19603733
42            Serbia        Belgrade         Europe          7221365
43          Colombia          Bogota  South America         51874024
44             Italy            Rome         Europe         59037474
45           Hungary        Budapest         Europe          9967308
46           Belgium        Brussels         Europe         11655930
47           Denmark      Copenhagen         Europe          5882261
48           Finland        Helsinki         Europe          5540745
49       Switzerland            Bern         Europe          8740472
50         Argentina    Buenos Aires  South America         45510318
51        Costa Rica        San José  North America          5180829
52           Ukraine            Kiev         Europe         39701739

we can print our complete data use the print function

In [10]:
dataset.head()

,Country/Region,2018,2019,2020,2021,2022,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population
0,China,40250.0,41450.0,46360.0,43990,45070.0,1,CHN,China,Beijing,Asia,1425887337
1,Indonesia,12540.0,12520.0,12640.0,13270,14260.0,4,IDN,Indonesia,Jakarta,Asia,275501339
2,India,6060.0,6730.0,6730.0,7560,7580.0,2,IND,India,New Delhi,Asia,1417173173
3,Japan,5780.0,5630.0,5970.0,5850,5980.0,11,JPN,Japan,Tokyo,Asia,123951692
4,Philippines,3980.0,3850.0,4470.0,4440,4290.0,13,PHL,Philippines,Manila,Asia,115559009

###### dataset.head() </br> it is used to print only the top rows of a dataset hence called head()

In [15]:
path = "/Users/sett/Downloads/noodles.csv"
dataset = pd.read_csv(path, header= None)

In [16]:
print(dataset)

                0        1        2        3      4        5     6     7   \
0   Country/Region   2018.0   2019.0   2020.0   2021   2022.0  Rank  CCA3
1            China  40250.0  41450.0  46360.0  43990  45070.0     1   CHN
2        Indonesia  12540.0  12520.0  12640.0  13270  14260.0     4   IDN
3            India   6060.0   6730.0   6730.0   7560   7580.0     2   IND
4            Japan   5780.0   5630.0   5970.0   5850   5980.0    11   JPN
5      Philippines   3980.0   3850.0   4470.0   4440   4290.0    13   PHL
6      South Korea   3820.0   3900.0   4130.0   3790   3950.0    29   KOR
7         Thailand   3460.0   3570.0   3710.0   3630   3870.0    20   THA
8           Brazil   2390.0   2420.0   2720.0   2850   2830.0     7   BRA
9          Nigeria   1820.0   1920.0   2460.0   2620   2790.0     6   NGA
10          Russia   1850.0   1910.0   2000.0   2100   2200.0     9   RUS
11           Nepal   1570.0   1640.0   1540.0   1590   1650.0    49   NPL
12        Malaysia   1370.0   1450.0   1570.0   1580   1550.0    45   MYS
13          Mexico   1120.0   1170.0   1160.0   1360   1510.0    10   MEX
14          Taiwan    830.0    830.0    870.0    900    880.0    57   TWN
15    Saudi Arabia    550.0    560.0    830.0    850    870.0    41   SAU
16         Myanmar    600.0    620.0    660.0    760    770.0    26   MMR
17    South Africa    260.0    280.0    350.0    410    480.0    24   ZAF
18           Egypt    220.0    280.0    350.0    400    460.0    14   EGY
19       Australia    410.0    420.0    440.0    450    450.0    55   AUS
20      Bangladesh    310.0    370.0    370.0    430    440.0     8   BGD
21          Turkey     80.0    120.0    190.0    360    420.0    18   TUR
22        Cambodia    330.0    350.0    370.0    410    400.0    73   KHM
23         Germany    320.0    330.0    370.0    390    390.0    19   DEU
24          Poland    310.0    310.0    330.0    340    380.0    37   POL
25      Kazakhstan    170.0    250.0    280.0    320    360.0    66   KAZ
26       Guatemala    230.0    250.0    260.0    270    280.0    68   GTM
27        Pakistan    190.0    200.0    220.0    230    240.0     5   PAK
28      Uzbekistan    170.0    210.0    210.0    210    210.0    43   UZB
29          Canada    190.0    190.0    190.0    200    200.0    39   CAN
30       Sri Lanka    170.0    180.0    180.0    190    200.0    61   LKA
31            Peru    160.0    160.0    160.0    170    170.0    44   PER
32        Ethiopia     80.0     80.0    120.0    130    140.0    12   ETH
33       Singapore    130.0    130.0    160.0    140    130.0   113   SGP
34           Kenya     50.0     60.0     80.0    100    130.0    27   KEN
35          France     90.0     80.0     90.0    100    110.0    23   FRA
36     New Zealand     80.0     90.0     90.0     90    100.0   123   NZL
37           Spain     70.0     70.0     80.0     90     90.0    30   ESP
38  Czech Republic     60.0     70.0     70.0     70     70.0    88   CZE
39            Iran     50.0     50.0     60.0     60     70.0    17   IRN
40          Sweden     40.0     50.0     60.0     60     60.0    87   SWE
41     Netherlands     50.0     50.0     50.0     50     60.0    71   NLD
42           Chile     30.0     30.0     20.0     50     60.0    65   CHL
43          Serbia      NaN      NaN      NaN     50     50.0   105   SRB
44        Colombia     20.0     20.0     20.0     20     50.0    28   COL
45           Italy     20.0     20.0     30.0     40     40.0    25   ITA
46         Hungary     30.0     40.0     40.0     40     40.0    94   HUN
47         Belgium     10.0     20.0     20.0     20     20.0    81   BEL
48         Denmark     20.0     20.0     10.0     10     20.0   115   DNK
49         Finland     10.0     20.0     20.0     20     20.0   118   FIN
50     Switzerland     10.0     10.0     10.0     10     20.0   101   CHE
51       Argentina     10.0     10.0      0.0     20     10.0    33   ARG
52      Costa Rica     10.0     10.0     10.0     20     10.0   124   CRI
53         Ukraine    320.0    340.0    320.0    350      NaN    38   UKR

                   8               9              10               11
0   Country/Territory         Capital      Continent  2022 Population
1               China         Beijing           Asia       1425887337
2           Indonesia         Jakarta           Asia        275501339
3               India       New Delhi           Asia       1417173173
4               Japan           Tokyo           Asia        123951692
5         Philippines          Manila           Asia        115559009
6         South Korea           Seoul           Asia         51815810
7            Thailand         Bangkok           Asia         71697030
8              Brazil        Brasilia  South America        215313498
9             Nigeria           Abuja         Africa        218541212
10             Russia          Moscow         Europe        144713314
11              Nepal       Kathmandu           Asia         30547580
12           Malaysia    Kuala Lumpur           Asia         33938221
13             Mexico     Mexico City  North America        127504125
14             Taiwan          Taipei           Asia         23893394
15       Saudi Arabia          Riyadh           Asia         36408820
16            Myanmar     Nay Pyi Taw           Asia         54179306
17       South Africa        Pretoria         Africa         59893885
18              Egypt           Cairo         Africa        110990103
19          Australia        Canberra        Oceania         26177413
20         Bangladesh           Dhaka           Asia        171186372
21             Turkey          Ankara           Asia         85341241
22           Cambodia      Phnom Penh           Asia         16767842
23            Germany          Berlin         Europe         83369843
24             Poland          Warsaw         Europe         39857145
25         Kazakhstan       Nursultan           Asia         19397998
26          Guatemala  Guatemala City  North America         17843908
27           Pakistan       Islamabad           Asia        235824862
28         Uzbekistan        Tashkent           Asia         34627652
29             Canada          Ottawa  North America         38454327
30          Sri Lanka         Colombo           Asia         21832143
31               Peru            Lima  South America         34049588
32           Ethiopia     Addis Ababa         Africa        123379924
33          Singapore       Singapore           Asia          5975689
34              Kenya         Nairobi         Africa         54027487
35             France           Paris         Europe         64626628
36        New Zealand      Wellington        Oceania          5185288
37              Spain          Madrid         Europe         47558630
38     Czech Republic          Prague         Europe         10493986
39               Iran          Tehran           Asia         88550570
40             Sweden       Stockholm         Europe         10549347
41        Netherlands       Amsterdam         Europe         17564014
42              Chile        Santiago  South America         19603733
43             Serbia        Belgrade         Europe          7221365
44           Colombia          Bogota  South America         51874024
45              Italy            Rome         Europe         59037474
46            Hungary        Budapest         Europe          9967308
47            Belgium        Brussels         Europe         11655930
48            Denmark      Copenhagen         Europe          5882261
49            Finland        Helsinki         Europe          5540745
50        Switzerland            Bern         Europe          8740472
51          Argentina    Buenos Aires  South America         45510318
52         Costa Rica        San José  North America          5180829
53            Ukraine            Kiev         Europe         39701739

In [17]:
dataset = pd.read_csv(path, names=["mulk","pehla saal", "dusra saal", "teesra saal", "chotha saal", "panchuwa saal", "rutba", "akheer"])

In [18]:
print(dataset)

                                         mulk  pehla saal dusra saal  \
Country/Region 2018.0  2019.0  2020.0    2021      2022.0       Rank
China          40250.0 41450.0 46360.0  43990     45070.0          1
Indonesia      12540.0 12520.0 12640.0  13270     14260.0          4
India          6060.0  6730.0  6730.0    7560      7580.0          2
Japan          5780.0  5630.0  5970.0    5850      5980.0         11
Philippines    3980.0  3850.0  4470.0    4440      4290.0         13
South Korea    3820.0  3900.0  4130.0    3790      3950.0         29
Thailand       3460.0  3570.0  3710.0    3630      3870.0         20
Brazil         2390.0  2420.0  2720.0    2850      2830.0          7
Nigeria        1820.0  1920.0  2460.0    2620      2790.0          6
Russia         1850.0  1910.0  2000.0    2100      2200.0          9
Nepal          1570.0  1640.0  1540.0    1590      1650.0         49
Malaysia       1370.0  1450.0  1570.0    1580      1550.0         45
Mexico         1120.0  1170.0  1160.0    1360      1510.0         10
Taiwan         830.0   830.0   870.0      900       880.0         57
Saudi Arabia   550.0   560.0   830.0      850       870.0         41
Myanmar        600.0   620.0   660.0      760       770.0         26
South Africa   260.0   280.0   350.0      410       480.0         24
Egypt          220.0   280.0   350.0      400       460.0         14
Australia      410.0   420.0   440.0      450       450.0         55
Bangladesh     310.0   370.0   370.0      430       440.0          8
Turkey         80.0    120.0   190.0      360       420.0         18
Cambodia       330.0   350.0   370.0      410       400.0         73
Germany        320.0   330.0   370.0      390       390.0         19
Poland         310.0   310.0   330.0      340       380.0         37
Kazakhstan     170.0   250.0   280.0      320       360.0         66
Guatemala      230.0   250.0   260.0      270       280.0         68
Pakistan       190.0   200.0   220.0      230       240.0          5
Uzbekistan     170.0   210.0   210.0      210       210.0         43
Canada         190.0   190.0   190.0      200       200.0         39
Sri Lanka      170.0   180.0   180.0      190       200.0         61
Peru           160.0   160.0   160.0      170       170.0         44
Ethiopia       80.0    80.0    120.0      130       140.0         12
Singapore      130.0   130.0   160.0      140       130.0        113
Kenya          50.0    60.0    80.0       100       130.0         27
France         90.0    80.0    90.0       100       110.0         23
New Zealand    80.0    90.0    90.0        90       100.0        123
Spain          70.0    70.0    80.0        90        90.0         30
Czech Republic 60.0    70.0    70.0        70        70.0         88
Iran           50.0    50.0    60.0        60        70.0         17
Sweden         40.0    50.0    60.0        60        60.0         87
Netherlands    50.0    50.0    50.0        50        60.0         71
Chile          30.0    30.0    20.0        50        60.0         65
Serbia         NaN     NaN     NaN         50        50.0        105
Colombia       20.0    20.0    20.0        20        50.0         28
Italy          20.0    20.0    30.0        40        40.0         25
Hungary        30.0    40.0    40.0        40        40.0         94
Belgium        10.0    20.0    20.0        20        20.0         81
Denmark        20.0    20.0    10.0        10        20.0        115
Finland        10.0    20.0    20.0        20        20.0        118
Switzerland    10.0    10.0    10.0        10        20.0        101
Argentina      10.0    10.0    0.0         20        10.0         33
Costa Rica     10.0    10.0    10.0        20        10.0        124
Ukraine        320.0   340.0   320.0      350         NaN         38

                                       teesra saal        chotha saal  \
Country/Region 2018.0  2019.0  2020.0         CCA3  Country/Territory
China          40250.0 41450.0 46360.0         CHN              China
Indonesia      12540.0 12520.0 12640.0         IDN          Indonesia
India          6060.0  6730.0  6730.0          IND              India
Japan          5780.0  5630.0  5970.0          JPN              Japan
Philippines    3980.0  3850.0  4470.0          PHL        Philippines
South Korea    3820.0  3900.0  4130.0          KOR        South Korea
Thailand       3460.0  3570.0  3710.0          THA           Thailand
Brazil         2390.0  2420.0  2720.0          BRA             Brazil
Nigeria        1820.0  1920.0  2460.0          NGA            Nigeria
Russia         1850.0  1910.0  2000.0          RUS             Russia
Nepal          1570.0  1640.0  1540.0          NPL              Nepal
Malaysia       1370.0  1450.0  1570.0          MYS           Malaysia
Mexico         1120.0  1170.0  1160.0          MEX             Mexico
Taiwan         830.0   830.0   870.0           TWN             Taiwan
Saudi Arabia   550.0   560.0   830.0           SAU       Saudi Arabia
Myanmar        600.0   620.0   660.0           MMR            Myanmar
South Africa   260.0   280.0   350.0           ZAF       South Africa
Egypt          220.0   280.0   350.0           EGY              Egypt
Australia      410.0   420.0   440.0           AUS          Australia
Bangladesh     310.0   370.0   370.0           BGD         Bangladesh
Turkey         80.0    120.0   190.0           TUR             Turkey
Cambodia       330.0   350.0   370.0           KHM           Cambodia
Germany        320.0   330.0   370.0           DEU            Germany
Poland         310.0   310.0   330.0           POL             Poland
Kazakhstan     170.0   250.0   280.0           KAZ         Kazakhstan
Guatemala      230.0   250.0   260.0           GTM          Guatemala
Pakistan       190.0   200.0   220.0           PAK           Pakistan
Uzbekistan     170.0   210.0   210.0           UZB         Uzbekistan
Canada         190.0   190.0   190.0           CAN             Canada
Sri Lanka      170.0   180.0   180.0           LKA          Sri Lanka
Peru           160.0   160.0   160.0           PER               Peru
Ethiopia       80.0    80.0    120.0           ETH           Ethiopia
Singapore      130.0   130.0   160.0           SGP          Singapore
Kenya          50.0    60.0    80.0            KEN              Kenya
France         90.0    80.0    90.0            FRA             France
New Zealand    80.0    90.0    90.0            NZL        New Zealand
Spain          70.0    70.0    80.0            ESP              Spain
Czech Republic 60.0    70.0    70.0            CZE     Czech Republic
Iran           50.0    50.0    60.0            IRN               Iran
Sweden         40.0    50.0    60.0            SWE             Sweden
Netherlands    50.0    50.0    50.0            NLD        Netherlands
Chile          30.0    30.0    20.0            CHL              Chile
Serbia         NaN     NaN     NaN             SRB             Serbia
Colombia       20.0    20.0    20.0            COL           Colombia
Italy          20.0    20.0    30.0            ITA              Italy
Hungary        30.0    40.0    40.0            HUN            Hungary
Belgium        10.0    20.0    20.0            BEL            Belgium
Denmark        20.0    20.0    10.0            DNK            Denmark
Finland        10.0    20.0    20.0            FIN            Finland
Switzerland    10.0    10.0    10.0            CHE        Switzerland
Argentina      10.0    10.0    0.0             ARG          Argentina
Costa Rica     10.0    10.0    10.0            CRI         Costa Rica
Ukraine        320.0   340.0   320.0           UKR            Ukraine

                                         panchuwa saal          rutba  \
Country/Region 2018.0  2019.0  2020.0          Capital      Continent
China          40250.0 41450.0 46360.0         Beijing           Asia
Indonesia      12540.0 12520.0 12640.0         Jakarta           Asia
India          6060.0  6730.0  6730.0        New Delhi           Asia
Japan          5780.0  5630.0  5970.0            Tokyo           Asia
Philippines    3980.0  3850.0  4470.0           Manila           Asia
South Korea    3820.0  3900.0  4130.0            Seoul           Asia
Thailand       3460.0  3570.0  3710.0          Bangkok           Asia
Brazil         2390.0  2420.0  2720.0         Brasilia  South America
Nigeria        1820.0  1920.0  2460.0            Abuja         Africa
Russia         1850.0  1910.0  2000.0           Moscow         Europe
Nepal          1570.0  1640.0  1540.0        Kathmandu           Asia
Malaysia       1370.0  1450.0  1570.0     Kuala Lumpur           Asia
Mexico         1120.0  1170.0  1160.0      Mexico City  North America
Taiwan         830.0   830.0   870.0            Taipei           Asia
Saudi Arabia   550.0   560.0   830.0            Riyadh           Asia
Myanmar        600.0   620.0   660.0       Nay Pyi Taw           Asia
South Africa   260.0   280.0   350.0          Pretoria         Africa
Egypt          220.0   280.0   350.0             Cairo         Africa
Australia      410.0   420.0   440.0          Canberra        Oceania
Bangladesh     310.0   370.0   370.0             Dhaka           Asia
Turkey         80.0    120.0   190.0            Ankara           Asia
Cambodia       330.0   350.0   370.0        Phnom Penh           Asia
Germany        320.0   330.0   370.0            Berlin         Europe
Poland         310.0   310.0   330.0            Warsaw         Europe
Kazakhstan     170.0   250.0   280.0         Nursultan           Asia
Guatemala      230.0   250.0   260.0    Guatemala City  North America
Pakistan       190.0   200.0   220.0         Islamabad           Asia
Uzbekistan     170.0   210.0   210.0          Tashkent           Asia
Canada         190.0   190.0   190.0            Ottawa  North America
Sri Lanka      170.0   180.0   180.0           Colombo           Asia
Peru           160.0   160.0   160.0              Lima  South America
Ethiopia       80.0    80.0    120.0       Addis Ababa         Africa
Singapore      130.0   130.0   160.0         Singapore           Asia
Kenya          50.0    60.0    80.0            Nairobi         Africa
France         90.0    80.0    90.0              Paris         Europe
New Zealand    80.0    90.0    90.0         Wellington        Oceania
Spain          70.0    70.0    80.0             Madrid         Europe
Czech Republic 60.0    70.0    70.0             Prague         Europe
Iran           50.0    50.0    60.0             Tehran           Asia
Sweden         40.0    50.0    60.0          Stockholm         Europe
Netherlands    50.0    50.0    50.0          Amsterdam         Europe
Chile          30.0    30.0    20.0           Santiago  South America
Serbia         NaN     NaN     NaN            Belgrade         Europe
Colombia       20.0    20.0    20.0             Bogota  South America
Italy          20.0    20.0    30.0               Rome         Europe
Hungary        30.0    40.0    40.0           Budapest         Europe
Belgium        10.0    20.0    20.0           Brussels         Europe
Denmark        20.0    20.0    10.0         Copenhagen         Europe
Finland        10.0    20.0    20.0           Helsinki         Europe
Switzerland    10.0    10.0    10.0               Bern         Europe
Argentina      10.0    10.0    0.0        Buenos Aires  South America
Costa Rica     10.0    10.0    10.0           San José  North America
Ukraine        320.0   340.0   320.0              Kiev         Europe

                                                 akheer
Country/Region 2018.0  2019.0  2020.0   2022 Population
China          40250.0 41450.0 46360.0       1425887337
Indonesia      12540.0 12520.0 12640.0        275501339
India          6060.0  6730.0  6730.0        1417173173
Japan          5780.0  5630.0  5970.0         123951692
Philippines    3980.0  3850.0  4470.0         115559009
South Korea    3820.0  3900.0  4130.0          51815810
Thailand       3460.0  3570.0  3710.0          71697030
Brazil         2390.0  2420.0  2720.0         215313498
Nigeria        1820.0  1920.0  2460.0         218541212
Russia         1850.0  1910.0  2000.0         144713314
Nepal          1570.0  1640.0  1540.0          30547580
Malaysia       1370.0  1450.0  1570.0          33938221
Mexico         1120.0  1170.0  1160.0         127504125
Taiwan         830.0   830.0   870.0           23893394
Saudi Arabia   550.0   560.0   830.0           36408820
Myanmar        600.0   620.0   660.0           54179306
South Africa   260.0   280.0   350.0           59893885
Egypt          220.0   280.0   350.0          110990103
Australia      410.0   420.0   440.0           26177413
Bangladesh     310.0   370.0   370.0          171186372
Turkey         80.0    120.0   190.0           85341241
Cambodia       330.0   350.0   370.0           16767842
Germany        320.0   330.0   370.0           83369843
Poland         310.0   310.0   330.0           39857145
Kazakhstan     170.0   250.0   280.0           19397998
Guatemala      230.0   250.0   260.0           17843908
Pakistan       190.0   200.0   220.0          235824862
Uzbekistan     170.0   210.0   210.0           34627652
Canada         190.0   190.0   190.0           38454327
Sri Lanka      170.0   180.0   180.0           21832143
Peru           160.0   160.0   160.0           34049588
Ethiopia       80.0    80.0    120.0          123379924
Singapore      130.0   130.0   160.0            5975689
Kenya          50.0    60.0    80.0            54027487
France         90.0    80.0    90.0            64626628
New Zealand    80.0    90.0    90.0             5185288
Spain          70.0    70.0    80.0            47558630
Czech Republic 60.0    70.0    70.0            10493986
Iran           50.0    50.0    60.0            88550570
Sweden         40.0    50.0    60.0            10549347
Netherlands    50.0    50.0    50.0            17564014
Chile          30.0    30.0    20.0            19603733
Serbia         NaN     NaN     NaN              7221365
Colombia       20.0    20.0    20.0            51874024
Italy          20.0    20.0    30.0            59037474
Hungary        30.0    40.0    40.0             9967308
Belgium        10.0    20.0    20.0            11655930
Denmark        20.0    20.0    10.0             5882261
Finland        10.0    20.0    20.0             5540745
Switzerland    10.0    10.0    10.0             8740472
Argentina      10.0    10.0    0.0             45510318
Costa Rica     10.0    10.0    10.0             5180829
Ukraine        320.0   340.0   320.0           39701739

In [24]:
#according to column index
dataset = pd.read_csv(path, index_col=7)

In [25]:
print(dataset)

      Country/Region     2018     2019     2020   2021     2022  Rank  \
CCA3
CHN            China  40250.0  41450.0  46360.0  43990  45070.0     1
IDN        Indonesia  12540.0  12520.0  12640.0  13270  14260.0     4
IND            India   6060.0   6730.0   6730.0   7560   7580.0     2
JPN            Japan   5780.0   5630.0   5970.0   5850   5980.0    11
PHL      Philippines   3980.0   3850.0   4470.0   4440   4290.0    13
KOR      South Korea   3820.0   3900.0   4130.0   3790   3950.0    29
THA         Thailand   3460.0   3570.0   3710.0   3630   3870.0    20
BRA           Brazil   2390.0   2420.0   2720.0   2850   2830.0     7
NGA          Nigeria   1820.0   1920.0   2460.0   2620   2790.0     6
RUS           Russia   1850.0   1910.0   2000.0   2100   2200.0     9
NPL            Nepal   1570.0   1640.0   1540.0   1590   1650.0    49
MYS         Malaysia   1370.0   1450.0   1570.0   1580   1550.0    45
MEX           Mexico   1120.0   1170.0   1160.0   1360   1510.0    10
TWN           Taiwan    830.0    830.0    870.0    900    880.0    57
SAU     Saudi Arabia    550.0    560.0    830.0    850    870.0    41
MMR          Myanmar    600.0    620.0    660.0    760    770.0    26
ZAF     South Africa    260.0    280.0    350.0    410    480.0    24
EGY            Egypt    220.0    280.0    350.0    400    460.0    14
AUS        Australia    410.0    420.0    440.0    450    450.0    55
BGD       Bangladesh    310.0    370.0    370.0    430    440.0     8
TUR           Turkey     80.0    120.0    190.0    360    420.0    18
KHM         Cambodia    330.0    350.0    370.0    410    400.0    73
DEU          Germany    320.0    330.0    370.0    390    390.0    19
POL           Poland    310.0    310.0    330.0    340    380.0    37
KAZ       Kazakhstan    170.0    250.0    280.0    320    360.0    66
GTM        Guatemala    230.0    250.0    260.0    270    280.0    68
PAK         Pakistan    190.0    200.0    220.0    230    240.0     5
UZB       Uzbekistan    170.0    210.0    210.0    210    210.0    43
CAN           Canada    190.0    190.0    190.0    200    200.0    39
LKA        Sri Lanka    170.0    180.0    180.0    190    200.0    61
PER             Peru    160.0    160.0    160.0    170    170.0    44
ETH         Ethiopia     80.0     80.0    120.0    130    140.0    12
SGP        Singapore    130.0    130.0    160.0    140    130.0   113
KEN            Kenya     50.0     60.0     80.0    100    130.0    27
FRA           France     90.0     80.0     90.0    100    110.0    23
NZL      New Zealand     80.0     90.0     90.0     90    100.0   123
ESP            Spain     70.0     70.0     80.0     90     90.0    30
CZE   Czech Republic     60.0     70.0     70.0     70     70.0    88
IRN             Iran     50.0     50.0     60.0     60     70.0    17
SWE           Sweden     40.0     50.0     60.0     60     60.0    87
NLD      Netherlands     50.0     50.0     50.0     50     60.0    71
CHL            Chile     30.0     30.0     20.0     50     60.0    65
SRB           Serbia      NaN      NaN      NaN     50     50.0   105
COL         Colombia     20.0     20.0     20.0     20     50.0    28
ITA            Italy     20.0     20.0     30.0     40     40.0    25
HUN          Hungary     30.0     40.0     40.0     40     40.0    94
BEL          Belgium     10.0     20.0     20.0     20     20.0    81
DNK          Denmark     20.0     20.0     10.0     10     20.0   115
FIN          Finland     10.0     20.0     20.0     20     20.0   118
CHE      Switzerland     10.0     10.0     10.0     10     20.0   101
ARG        Argentina     10.0     10.0      0.0     20     10.0    33
CRI       Costa Rica     10.0     10.0     10.0     20     10.0   124
UKR          Ukraine    320.0    340.0    320.0    350      NaN    38

     Country/Territory         Capital      Continent  2022 Population
CCA3
CHN              China         Beijing           Asia       1425887337
IDN          Indonesia         Jakarta           Asia        275501339
IND              India       New Delhi           Asia       1417173173
JPN              Japan           Tokyo           Asia        123951692
PHL        Philippines          Manila           Asia        115559009
KOR        South Korea           Seoul           Asia         51815810
THA           Thailand         Bangkok           Asia         71697030
BRA             Brazil        Brasilia  South America        215313498
NGA            Nigeria           Abuja         Africa        218541212
RUS             Russia          Moscow         Europe        144713314
NPL              Nepal       Kathmandu           Asia         30547580
MYS           Malaysia    Kuala Lumpur           Asia         33938221
MEX             Mexico     Mexico City  North America        127504125
TWN             Taiwan          Taipei           Asia         23893394
SAU       Saudi Arabia          Riyadh           Asia         36408820
MMR            Myanmar     Nay Pyi Taw           Asia         54179306
ZAF       South Africa        Pretoria         Africa         59893885
EGY              Egypt           Cairo         Africa        110990103
AUS          Australia        Canberra        Oceania         26177413
BGD         Bangladesh           Dhaka           Asia        171186372
TUR             Turkey          Ankara           Asia         85341241
KHM           Cambodia      Phnom Penh           Asia         16767842
DEU            Germany          Berlin         Europe         83369843
POL             Poland          Warsaw         Europe         39857145
KAZ         Kazakhstan       Nursultan           Asia         19397998
GTM          Guatemala  Guatemala City  North America         17843908
PAK           Pakistan       Islamabad           Asia        235824862
UZB         Uzbekistan        Tashkent           Asia         34627652
CAN             Canada          Ottawa  North America         38454327
LKA          Sri Lanka         Colombo           Asia         21832143
PER               Peru            Lima  South America         34049588
ETH           Ethiopia     Addis Ababa         Africa        123379924
SGP          Singapore       Singapore           Asia          5975689
KEN              Kenya         Nairobi         Africa         54027487
FRA             France           Paris         Europe         64626628
NZL        New Zealand      Wellington        Oceania          5185288
ESP              Spain          Madrid         Europe         47558630
CZE     Czech Republic          Prague         Europe         10493986
IRN               Iran          Tehran           Asia         88550570
SWE             Sweden       Stockholm         Europe         10549347
NLD        Netherlands       Amsterdam         Europe         17564014
CHL              Chile        Santiago  South America         19603733
SRB             Serbia        Belgrade         Europe          7221365
COL           Colombia          Bogota  South America         51874024
ITA              Italy            Rome         Europe         59037474
HUN            Hungary        Budapest         Europe          9967308
BEL            Belgium        Brussels         Europe         11655930
DNK            Denmark      Copenhagen         Europe          5882261
FIN            Finland        Helsinki         Europe          5540745
CHE        Switzerland            Bern         Europe          8740472
ARG          Argentina    Buenos Aires  South America         45510318
CRI         Costa Rica        San José  North America          5180829
UKR            Ukraine            Kiev         Europe         39701739

In [26]:
#skip rows
dataset = pd.read_csv(path, skiprows=[0, 2, 3])

In [27]:
print(dataset)

             China  40250.0  41450.0  46360.0  43990  45070.0    1  CHN  \
0            Japan   5780.0   5630.0   5970.0   5850   5980.0   11  JPN
1      Philippines   3980.0   3850.0   4470.0   4440   4290.0   13  PHL
2      South Korea   3820.0   3900.0   4130.0   3790   3950.0   29  KOR
3         Thailand   3460.0   3570.0   3710.0   3630   3870.0   20  THA
4           Brazil   2390.0   2420.0   2720.0   2850   2830.0    7  BRA
5          Nigeria   1820.0   1920.0   2460.0   2620   2790.0    6  NGA
6           Russia   1850.0   1910.0   2000.0   2100   2200.0    9  RUS
7            Nepal   1570.0   1640.0   1540.0   1590   1650.0   49  NPL
8         Malaysia   1370.0   1450.0   1570.0   1580   1550.0   45  MYS
9           Mexico   1120.0   1170.0   1160.0   1360   1510.0   10  MEX
10          Taiwan    830.0    830.0    870.0    900    880.0   57  TWN
11    Saudi Arabia    550.0    560.0    830.0    850    870.0   41  SAU
12         Myanmar    600.0    620.0    660.0    760    770.0   26  MMR
13    South Africa    260.0    280.0    350.0    410    480.0   24  ZAF
14           Egypt    220.0    280.0    350.0    400    460.0   14  EGY
15       Australia    410.0    420.0    440.0    450    450.0   55  AUS
16      Bangladesh    310.0    370.0    370.0    430    440.0    8  BGD
17          Turkey     80.0    120.0    190.0    360    420.0   18  TUR
18        Cambodia    330.0    350.0    370.0    410    400.0   73  KHM
19         Germany    320.0    330.0    370.0    390    390.0   19  DEU
20          Poland    310.0    310.0    330.0    340    380.0   37  POL
21      Kazakhstan    170.0    250.0    280.0    320    360.0   66  KAZ
22       Guatemala    230.0    250.0    260.0    270    280.0   68  GTM
23        Pakistan    190.0    200.0    220.0    230    240.0    5  PAK
24      Uzbekistan    170.0    210.0    210.0    210    210.0   43  UZB
25          Canada    190.0    190.0    190.0    200    200.0   39  CAN
26       Sri Lanka    170.0    180.0    180.0    190    200.0   61  LKA
27            Peru    160.0    160.0    160.0    170    170.0   44  PER
28        Ethiopia     80.0     80.0    120.0    130    140.0   12  ETH
29       Singapore    130.0    130.0    160.0    140    130.0  113  SGP
30           Kenya     50.0     60.0     80.0    100    130.0   27  KEN
31          France     90.0     80.0     90.0    100    110.0   23  FRA
32     New Zealand     80.0     90.0     90.0     90    100.0  123  NZL
33           Spain     70.0     70.0     80.0     90     90.0   30  ESP
34  Czech Republic     60.0     70.0     70.0     70     70.0   88  CZE
35            Iran     50.0     50.0     60.0     60     70.0   17  IRN
36          Sweden     40.0     50.0     60.0     60     60.0   87  SWE
37     Netherlands     50.0     50.0     50.0     50     60.0   71  NLD
38           Chile     30.0     30.0     20.0     50     60.0   65  CHL
39          Serbia      NaN      NaN      NaN     50     50.0  105  SRB
40        Colombia     20.0     20.0     20.0     20     50.0   28  COL
41           Italy     20.0     20.0     30.0     40     40.0   25  ITA
42         Hungary     30.0     40.0     40.0     40     40.0   94  HUN
43         Belgium     10.0     20.0     20.0     20     20.0   81  BEL
44         Denmark     20.0     20.0     10.0     10     20.0  115  DNK
45         Finland     10.0     20.0     20.0     20     20.0  118  FIN
46     Switzerland     10.0     10.0     10.0     10     20.0  101  CHE
47       Argentina     10.0     10.0      0.0     20     10.0   33  ARG
48      Costa Rica     10.0     10.0     10.0     20     10.0  124  CRI
49         Ukraine    320.0    340.0    320.0    350      NaN   38  UKR

           China.1         Beijing           Asia  1425887337
0            Japan           Tokyo           Asia   123951692
1      Philippines          Manila           Asia   115559009
2      South Korea           Seoul           Asia    51815810
3         Thailand         Bangkok           Asia    71697030
4           Brazil        Brasilia  South America   215313498
5          Nigeria           Abuja         Africa   218541212
6           Russia          Moscow         Europe   144713314
7            Nepal       Kathmandu           Asia    30547580
8         Malaysia    Kuala Lumpur           Asia    33938221
9           Mexico     Mexico City  North America   127504125
10          Taiwan          Taipei           Asia    23893394
11    Saudi Arabia          Riyadh           Asia    36408820
12         Myanmar     Nay Pyi Taw           Asia    54179306
13    South Africa        Pretoria         Africa    59893885
14           Egypt           Cairo         Africa   110990103
15       Australia        Canberra        Oceania    26177413
16      Bangladesh           Dhaka           Asia   171186372
17          Turkey          Ankara           Asia    85341241
18        Cambodia      Phnom Penh           Asia    16767842
19         Germany          Berlin         Europe    83369843
20          Poland          Warsaw         Europe    39857145
21      Kazakhstan       Nursultan           Asia    19397998
22       Guatemala  Guatemala City  North America    17843908
23        Pakistan       Islamabad           Asia   235824862
24      Uzbekistan        Tashkent           Asia    34627652
25          Canada          Ottawa  North America    38454327
26       Sri Lanka         Colombo           Asia    21832143
27            Peru            Lima  South America    34049588
28        Ethiopia     Addis Ababa         Africa   123379924
29       Singapore       Singapore           Asia     5975689
30           Kenya         Nairobi         Africa    54027487
31          France           Paris         Europe    64626628
32     New Zealand      Wellington        Oceania     5185288
33           Spain          Madrid         Europe    47558630
34  Czech Republic          Prague         Europe    10493986
35            Iran          Tehran           Asia    88550570
36          Sweden       Stockholm         Europe    10549347
37     Netherlands       Amsterdam         Europe    17564014
38           Chile        Santiago  South America    19603733
39          Serbia        Belgrade         Europe     7221365
40        Colombia          Bogota  South America    51874024
41           Italy            Rome         Europe    59037474
42         Hungary        Budapest         Europe     9967308
43         Belgium        Brussels         Europe    11655930
44         Denmark      Copenhagen         Europe     5882261
45         Finland        Helsinki         Europe     5540745
46     Switzerland            Bern         Europe     8740472
47       Argentina    Buenos Aires  South America    45510318
48      Costa Rica        San José  North America     5180829
49         Ukraine            Kiev         Europe    39701739

In [28]:
pd.isna(dataset)

,China,40250.0,41450.0,46360.0,43990,45070.0,1,CHN,China.1,Beijing,Asia,1425887337
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False
39,False,True,True,True,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,True,False,False,False,False,False,False

In [29]:
#read limited number of rows
dataset = pd.read_csv(path, nrows=5)

In [30]:
print(dataset)

  Country/Region     2018     2019     2020   2021     2022  Rank CCA3  \
0          China  40250.0  41450.0  46360.0  43990  45070.0     1  CHN
1      Indonesia  12540.0  12520.0  12640.0  13270  14260.0     4  IDN
2          India   6060.0   6730.0   6730.0   7560   7580.0     2  IND
3          Japan   5780.0   5630.0   5970.0   5850   5980.0    11  JPN
4    Philippines   3980.0   3850.0   4470.0   4440   4290.0    13  PHL

  Country/Territory    Capital Continent  2022 Population
0             China    Beijing      Asia       1425887337
1         Indonesia    Jakarta      Asia        275501339
2             India  New Delhi      Asia       1417173173
3             Japan      Tokyo      Asia        123951692
4       Philippines     Manila      Asia        115559009

In [36]:
dataset.to_csv("/Users/sett/Desktop/somedata.csv")

In [39]:
#reading new dataset 
newpath = "/Users/sett/Desktop/somedata.csv"
dataset2 = pd.read_csv(newpath)

In [42]:
dataset = pd.read_csv(path)

In [43]:
print(dataset)
print("========================================================")
print(dataset2)

    Country/Region     2018     2019     2020   2021     2022  Rank CCA3  \
0            China  40250.0  41450.0  46360.0  43990  45070.0     1  CHN
1        Indonesia  12540.0  12520.0  12640.0  13270  14260.0     4  IDN
2            India   6060.0   6730.0   6730.0   7560   7580.0     2  IND
3            Japan   5780.0   5630.0   5970.0   5850   5980.0    11  JPN
4      Philippines   3980.0   3850.0   4470.0   4440   4290.0    13  PHL
5      South Korea   3820.0   3900.0   4130.0   3790   3950.0    29  KOR
6         Thailand   3460.0   3570.0   3710.0   3630   3870.0    20  THA
7           Brazil   2390.0   2420.0   2720.0   2850   2830.0     7  BRA
8          Nigeria   1820.0   1920.0   2460.0   2620   2790.0     6  NGA
9           Russia   1850.0   1910.0   2000.0   2100   2200.0     9  RUS
10           Nepal   1570.0   1640.0   1540.0   1590   1650.0    49  NPL
11        Malaysia   1370.0   1450.0   1570.0   1580   1550.0    45  MYS
12          Mexico   1120.0   1170.0   1160.0   1360   1510.0    10  MEX
13          Taiwan    830.0    830.0    870.0    900    880.0    57  TWN
14    Saudi Arabia    550.0    560.0    830.0    850    870.0    41  SAU
15         Myanmar    600.0    620.0    660.0    760    770.0    26  MMR
16    South Africa    260.0    280.0    350.0    410    480.0    24  ZAF
17           Egypt    220.0    280.0    350.0    400    460.0    14  EGY
18       Australia    410.0    420.0    440.0    450    450.0    55  AUS
19      Bangladesh    310.0    370.0    370.0    430    440.0     8  BGD
20          Turkey     80.0    120.0    190.0    360    420.0    18  TUR
21        Cambodia    330.0    350.0    370.0    410    400.0    73  KHM
22         Germany    320.0    330.0    370.0    390    390.0    19  DEU
23          Poland    310.0    310.0    330.0    340    380.0    37  POL
24      Kazakhstan    170.0    250.0    280.0    320    360.0    66  KAZ
25       Guatemala    230.0    250.0    260.0    270    280.0    68  GTM
26        Pakistan    190.0    200.0    220.0    230    240.0     5  PAK
27      Uzbekistan    170.0    210.0    210.0    210    210.0    43  UZB
28          Canada    190.0    190.0    190.0    200    200.0    39  CAN
29       Sri Lanka    170.0    180.0    180.0    190    200.0    61  LKA
30            Peru    160.0    160.0    160.0    170    170.0    44  PER
31        Ethiopia     80.0     80.0    120.0    130    140.0    12  ETH
32       Singapore    130.0    130.0    160.0    140    130.0   113  SGP
33           Kenya     50.0     60.0     80.0    100    130.0    27  KEN
34          France     90.0     80.0     90.0    100    110.0    23  FRA
35     New Zealand     80.0     90.0     90.0     90    100.0   123  NZL
36           Spain     70.0     70.0     80.0     90     90.0    30  ESP
37  Czech Republic     60.0     70.0     70.0     70     70.0    88  CZE
38            Iran     50.0     50.0     60.0     60     70.0    17  IRN
39          Sweden     40.0     50.0     60.0     60     60.0    87  SWE
40     Netherlands     50.0     50.0     50.0     50     60.0    71  NLD
41           Chile     30.0     30.0     20.0     50     60.0    65  CHL
42          Serbia      NaN      NaN      NaN     50     50.0   105  SRB
43        Colombia     20.0     20.0     20.0     20     50.0    28  COL
44           Italy     20.0     20.0     30.0     40     40.0    25  ITA
45         Hungary     30.0     40.0     40.0     40     40.0    94  HUN
46         Belgium     10.0     20.0     20.0     20     20.0    81  BEL
47         Denmark     20.0     20.0     10.0     10     20.0   115  DNK
48         Finland     10.0     20.0     20.0     20     20.0   118  FIN
49     Switzerland     10.0     10.0     10.0     10     20.0   101  CHE
50       Argentina     10.0     10.0      0.0     20     10.0    33  ARG
51      Costa Rica     10.0     10.0     10.0     20     10.0   124  CRI
52         Ukraine    320.0    340.0    320.0    350      NaN    38  UKR

   Country/Territory         Capital      Continent  2022 Population
0              China         Beijing           Asia       1425887337
1          Indonesia         Jakarta           Asia        275501339
2              India       New Delhi           Asia       1417173173
3              Japan           Tokyo           Asia        123951692
4        Philippines          Manila           Asia        115559009
5        South Korea           Seoul           Asia         51815810
6           Thailand         Bangkok           Asia         71697030
7             Brazil        Brasilia  South America        215313498
8            Nigeria           Abuja         Africa        218541212
9             Russia          Moscow         Europe        144713314
10             Nepal       Kathmandu           Asia         30547580
11          Malaysia    Kuala Lumpur           Asia         33938221
12            Mexico     Mexico City  North America        127504125
13            Taiwan          Taipei           Asia         23893394
14      Saudi Arabia          Riyadh           Asia         36408820
15           Myanmar     Nay Pyi Taw           Asia         54179306
16      South Africa        Pretoria         Africa         59893885
17             Egypt           Cairo         Africa        110990103
18         Australia        Canberra        Oceania         26177413
19        Bangladesh           Dhaka           Asia        171186372
20            Turkey          Ankara           Asia         85341241
21          Cambodia      Phnom Penh           Asia         16767842
22           Germany          Berlin         Europe         83369843
23            Poland          Warsaw         Europe         39857145
24        Kazakhstan       Nursultan           Asia         19397998
25         Guatemala  Guatemala City  North America         17843908
26          Pakistan       Islamabad           Asia        235824862
27        Uzbekistan        Tashkent           Asia         34627652
28            Canada          Ottawa  North America         38454327
29         Sri Lanka         Colombo           Asia         21832143
30              Peru            Lima  South America         34049588
31          Ethiopia     Addis Ababa         Africa        123379924
32         Singapore       Singapore           Asia          5975689
33             Kenya         Nairobi         Africa         54027487
34            France           Paris         Europe         64626628
35       New Zealand      Wellington        Oceania          5185288
36             Spain          Madrid         Europe         47558630
37    Czech Republic          Prague         Europe         10493986
38              Iran          Tehran           Asia         88550570
39            Sweden       Stockholm         Europe         10549347
40       Netherlands       Amsterdam         Europe         17564014
41             Chile        Santiago  South America         19603733
42            Serbia        Belgrade         Europe          7221365
43          Colombia          Bogota  South America         51874024
44             Italy            Rome         Europe         59037474
45           Hungary        Budapest         Europe          9967308
46           Belgium        Brussels         Europe         11655930
47           Denmark      Copenhagen         Europe          5882261
48           Finland        Helsinki         Europe          5540745
49       Switzerland            Bern         Europe          8740472
50         Argentina    Buenos Aires  South America         45510318
51        Costa Rica        San José  North America          5180829
52           Ukraine            Kiev         Europe         39701739
========================================================
   Unnamed: 0 Country/Region     2018     2019     2020   2021     2022  Rank  \
0           0          China  40250.0  41450.0  46360.0  43990  45070.0     1
1           1      Indonesia  12540.0  12520.0  12640.0  13270  14260.0     4
2           2          India   6060.0   6730.0   6730.0   7560   7580.0     2
3           3          Japan   5780.0   5630.0   5970.0   5850   5980.0    11
4           4    Philippines   3980.0   3850.0   4470.0   4440   4290.0    13

  CCA3 Country/Territory    Capital Continent  2022 Population
0  CHN             China    Beijing      Asia       1425887337
1  IDN         Indonesia    Jakarta      Asia        275501339
2  IND             India  New Delhi      Asia       1417173173
3  JPN             Japan      Tokyo      Asia        123951692
4  PHL       Philippines     Manila      Asia        115559009